<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8728f/control/0/plot" value="false" />
    <add key="/lpc/it8728f/control/1/plot" value="false" />
    <add key="/lpc/it8728f/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="674" />
    <add key="mainForm.Location.Y" value="513" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/lpc/it8728f/voltage/0/plot" value="false" />
    <add key="/lpc/it8728f/voltage/1/plot" value="false" />
    <add key="/lpc/it8728f/voltage/2/plot" value="false" />
    <add key="/lpc/it8728f/voltage/3/plot" value="false" />
    <add key="/lpc/it8728f/voltage/4/plot" value="false" />
    <add key="/lpc/it8728f/voltage/5/plot" value="false" />
    <add key="/lpc/it8728f/voltage/6/plot" value="false" />
    <add key="/lpc/it8728f/voltage/7/plot" value="false" />
    <add key="/lpc/it8728f/voltage/8/plot" value="false" />
    <add key="/lpc/it8728f/temperature/0/plot" value="false" />
    <add key="/lpc/it8728f/temperature/1/plot" value="false" />
    <add key="/lpc/it8728f/temperature/2/plot" value="false" />
    <add key="/lpc/it8728f/fan/0/plot" value="false" />
    <add key="/lpc/it8728f/fan/1/plot" value="false" />
    <add key="/intelcpu/0/expanded" value="false" />
    <add key="/ram/expanded" value="false" />
    <add key="/nvidiagpu/0/load/expanded" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPslYZJsf+SeBwNDipO75kE2BjBIcTqTmsAEYac5zYhMhrIznE7OTYKyU524/WDsFKc/hslw9kNfmHiCU/y3Dk4YO20KTDze6cSTRCg7zim1FyYe45RWD1Mf4wQAr7AiG5wAAAA=" />
    <add key="/nvidiagpu/0/temperature/1/values" value="H4sIAAAAAAAEAPslYZJsf+SeBwODj9PqFy3cDGDg43RybhIThO3rxO0HY/s5/TFMhrMf+sLEA5y0uw6xwNhdFgj1q4xT4OboVR5hgbFTe2FqfJzS6js4YWwAR8y7fZAAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEALtnb5Jsf+SeB4PHTJd9mn8YGUAAyFZUS2QCsy1mubRsSoawD8x0WdaTAGFfmOHyIxIqDlR/fG4SXP01Xyh7wywX4z9/5WBsADPBmMBsAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEALtnb5Jsf+Seh16VjMs+zT+MDEDA2HDK2cY3kQnGLtqUDGZLyD5zvtKTAGaD1B80goiL32VwOT43Ca7+mi+UfSHZ2QiqhrHBy4nz4ywZGBsArEu49HgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEALtnb5Jsf+SehwnzYpd9mn8YGYCAkWGRs41vIhOMXbQpGcye5cjncqUnAcwGqT9oBBE3afZ2OT43Ca7+mi+U3ZDqbARVw8DA7sz5cZYMjA0Ags0NTXgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEALtnb5Jsf+Seh17VHJd9mn8YGYCAscHLxcY3kQnGLtqUDGZLyKa5XOlJALNB6g8aQcTF7za4HJ+bBFd/zRfKvvDY2QiqhrHhlBPnx1kyMDYATHp903gAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEALtnb5Jsf+SeBwPDAYd9mn8YGcBAw9HGN5EJwlZxLNqUDGWnOF7pSYCyGeyPRsLEGRhOzE2Cs+/6wtgNdtpGyXB2bQlcjT3vNoQ5vm2JcDXT4mFqHOyXG6fAxYumwMQFHFZNS4TrXXwbJn7Ani8NLs6wcgnCDRy3EeqLZsLF7QGvJcIp/AAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEALtnb5Jsf+SeBwPDBod9mn8YGcBggqONbyIThN3kWLQpmQkmfqUnAcpWcDgaCRNf4HBibhJM3PGuL4zt46htBFOzw1HE5TU3jF00BaZmn+OqaYlwNUkHOzjhambC1OxyBABXnMO1qAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEALtnb5Jsf+SeBwMQ3Pzurs8ABQCOSL+lGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEALtnb5Jsf+SeBwNDg/0+zT+MDGDQYG/jm8gEYS+wL9qUDGUfsL/SkwBlMzCs3F0mCmMXTUmCiduvmpYIV3Ml6jU3jA0AVO+90GwAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAPvYa5Jsf+Sex4SnnE7bNP8wMgCBQQWnk4lvIhOI/aGQ06miOxnMfvqbx+nZrQQwe4mQiNNOI4g4C7OI0/m5SWB2Co+I0xNfCPuLmoiTAlRNi4aIU1UJRLxESsQp+G4CXC/ftEQ4u1gDombJA2Gnc1EpEPEPQk45uRBxlutCTiug6o8sEXRadRsi3rJEwOkQ1xEWGPvbLYiakO8CTjUHEGoAjASK0fAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPvYa5Jsf+SeB8N+dZdtmn8YGUCAVcNFUy2RCczm1HBp3pQMZhscVXV5disBzD5greiy0wgifsBV0eX83CQI217R5YkvlK2n6KIAU6Or6FJVAhU3U3QJvpsA18s3LRHOLtaAqolWdDkXlQJhf1V0ycmFirMquayAqT+p5LLqNlQ8V9nlENcRFhj72y2oGgtll5oDCDUANqsePvAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPvYa5Jsf+SeB0PTBudtmn8YGUDg23pnE99EJjD73Xrniu5kMHtB6RbnZ7cSwOyGjr3OO40g4g0le53Pz02CsBv2Oj/xhbIX7XVWgKlZste5qgQqPmmvc/DdBLhevmmJcHaxBlSNx17nc1EpELbIHuecXKj4l93OK2Dqc3Y5r7oNFVfZ6XyI6wgLjP3tFlRN307nmgMINQCLBbbk8AAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAPvYa5Jsf+SeBwNDg8sjOQ99BjBocAEA2ItUIRgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAPvYa5Jsf+SeBwPDB8f73931GcDggyMAsve0rhgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOuyS0u2P3LPw1XCx2mGXBITAxDorPR20t8LYdcmeju9ToOwWy55O0mbQNhMl72cTr9KALMff/JwEueDiC+QdXdiEkkGs0VM3J30WSBso03uTmufJILZZnruTg2LIewnam5OuScgahxanZzMRSHiAnednZwPQsws0nZ2Et4NYWv0ODkZKkDUq6S5ODm+gbghrsLZyWwLRG/UCyenRm6ImhmMzk7PV0DYb/44OQEA+VTawPAAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOuyS0u2P3LPw6aKyXGGXBITAxCYGTM56u+FsJNYmRxfp0HYS3yZHKVNIGyfVYyOp18lgNnR5QyO4nwQ8W3T/jkwiSSD2Tmb/znos0DYa0L+O6x9kghmv1n9z6FhMYRtF/3XIfcERM2sbT8czEUh4iZ5vxycD0LMlOr+6SC8G8Iu2P/DwVABor5C9reD4xuIG0re/nQw2wLRG2T606GRG6JmWuhPh+crIOx5/j8dADJw4i3wAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOuyS0u2P3LP40b1L4cZcklMDEDwhPO3g/5eCLsn9bfD6zQIm+PqLwdpEwh7h/Qfh9OvEsDsWY3/HMT5IOJncxgcmUSSweyiOAZHfRYI+xIvg+PaJ4lgtlESg2PDYgi7k4vRMfcERM3tGGZHc1GIOF8jk6PzQYiZsz8xOQrvhrALIpgdDRUg6nM0mRwd30DckHeQydFsC0RvvSyzYyM3RE0sL7Pj8xUQdqQAsyMANXMHo/AAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEsL00q2P3LPo0h5l6Ni0B9GBiD4cmeBY5J7IhOIzfBgkuMVx2QIW8baKWR5AoRtUOSorQ0V/6DguLoqCape29EoDMrewOhYVgRTk+3YJgoVV/B2DPeAmp/wykFqMYzN5njCB6qGhdfp0zuo3gNRjuGLoOIGfI7PzkDVV/x3FG2Fir9ocPyQAhUvEHFkfg4Vd2B25HwHFVcwchTwg4ovsHMEAPAbIRD8AAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAIvU10q2P3LP44emlpNe5R9GBiCY5LLTMck9kQnEZkjY4XjFMRnCPuDoFLI8AcJm8HDU1oaLO66uSoKzjcKgbAZ9x7IiqBqGKsc2Uai4Q7pjuAfU/IYrDlKLYWwlxxM+UDUPhJw+vYOZX+wYvghmvobjszNQ9QLcTqKtUHGFmY4fUqDiDqaOzM+h4g2cjpzvYOaHOAr4wdyW6AgA9RynbfwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEsL00q2P3LP45iqtqNi0B9GBiBIqpjsmOSeyMQABlWOVxyToWwPp5DlCRC2Q7OjtjZU3IHZcXVVElSNmKNRGJTdsMihrAimN9GxTRSmRt8x3ANqfsMVB6nFMPZbhxM+UDUXWJw+vYPqbeh0DF8E0/vL4dkZqHqH546irVBxh3THDymJcDXMzxFu4HwHM1/JUcAPJm7tCABs2XHV/AAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEsL00q2P3LPQ7uqyFEx6A8jAxAkWSxzTHJPZAKxGRb0OF5xTIawJxg4hSxPgLAdTB21taHiB/gdV1clQdgMvxyMwmDsEw5lRVA1DSGObaJQcQcZx3APqPkNux2kFkPZDNMcTvhA1Xxgd/r0LhluZvgimJnrHZ6dgap/cNdRtBUq3qDk+CEFZuYVB+bnMPFFDpzvYOKcjgJ+MDcwOwIAk9qAnfwAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEsL00q2P3LP41bmUUfFoD+MDEBQVTfBMck9kQnEZmjodLzimAxhKxg5hSxPgIovctTWhooz6DuurkqCsA9EORqFQdkNSo5lRTC9DY5tolBxhirHcI9EuBqpxVC2g6njCR+omgIRp0/voHod0h3DF8HMtHZ8dgaqPkDQSbQVKr5gqeOHFIQ5zM9hdiU6cr6DijN4OAr4IdwJAJZsjSH8AAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEsL00q2P3LPg4Gh3Ekx6A8jAxikOiW5JzJB2ClOVxyToex8p5DlCVB2jNP3QJh4uNP94CQoO8TJKAzGDnUqK0qGi7eJwsQDnMI9EuFsqcUwdrDTCR+YmmQnT7EUKDvOiaE6CW7XszMIt4m2wsQjnD6kwMR9nZifw8T9nDjfwcT9nQT8YOI+TgC0M2Cc/AAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEsL00q2P3LPg4Ghzkkx6A8jAxjkONXmJTJB2NlOO6WSoexKp5DlCVB2stP3QJh4tNP94CQoO9bJtgbGjnTK9oGpCXdqE4WJhzmFe8DMD3XyP5UIVzNZFaam2MlTLAXKTnViqIaJRzk9OwNTn+8k2goTj3H6kAITD3Fifg4TD3LifJcIt1fADybu7wQA8dCkpfwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEsL00q2P3LPg4GhxEkx6A8jAxikOdXmJTJB2IlOO6WSoexSp5DlCVB2rNP3QJh4mNP94CQoO9zJtgbGDnHK9oGpCXRqE4WJBziFe8DM93fyPwVjBztNVoWpSXbyFEuB28VQDRMPdXp2BqY+3unyaoS9RnYwcV8n5udJcDbnO5i4n5OAH0zcxwkAz8jBX/wAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJsmqZ1sf+SeBwNDhdPHvt+MDGCQ7FSbl8gEYcc77ZRKhrKLnUKWJ0DZkU7fA2HiIU73g5Og7FAn25okuHi2D0xNkFObaBKcHe4BM9/Pyf8UjB3sNFkVpibOyVMsBcqOdmKoToKreXYGpj7GyXM9TDzcaY8Vwkzm5zBxXyfOdwhxAT+YuLcTAFIjYK78AAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJsmqZ1sf+SeBwNDndPHvt+MDGCQ61Sbl8gEYWc57ZRKhrIrnUKWJ0DZyU7fA2HiMU7nq5Kg7Fgn31AYO8opqhimJtpp+juYmeFO4R4wdpiT/ymE+GxvmN5iJ8cPML2pTgzVCDOfnYGpL3Q6uAlhr4s5TDzUifk5TDzIyVU0CW7XFTUYO8AJAD+FmJP8AAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADv30TjZ/sg9j5je406CSn8YGYDAuee4U+ODIywwtohPAhOI7QRkpzslg9kuQPbXKUlwtkoOhA1Sf9wgGa6e1x2h5tA7hDmb9yXC1WsGHIPbtb8Tot4VyF7JjTBTviAJrlcyPxHOftCPUBOsjdB7NA2hHgADKile5AAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPs2XyfZ/sg9D4Vn0q5zov8wMgCBhoOqq5FUIhOIXfhW0/VkTzKYPeWptOvz5AQw26nnuMukGIj4n9mPXb72J4HZF3L4XVtDIWxnoJpvqQg11vIQ8WlAcwS+J8DFey5C7FJtZnG9GAJR4/fV3NWcLwXM3r76v4tgJET8P1D9zFcQ9RysIa4fO5Pg7jmfmQhnx+xAuCFcB8KWlhJxXWiGUA8AQ1BD9/wAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAJssoJ9sf+SeR+U3c9cU5z+MDECQZ8DpGm2UyARid9Vou+7vSQaz/b6au05KSwCznXqOu4QGQMT/zH7sUj4pCcy+N0nBdXMshO0MVKPghFDD4wQR37H6v8uuVwhzBPZC7FJtZnHtDkuC25WklwJmbweq7zSDiO+8y+vKwQNhc7CGuO7vToKbcykyEc5etgbhhjh9CPuwyAcXJ3OEegDcu+AT/AAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEADNoNEy2P3LPo/KbuesBxT+MDECg4aDqyqWZyARiF77VdJ28PRnM9vtq7soZmQBmO/Ucd+kMgoi7ANkbpiSB2Yu4dV37QiBsZ6C4YyREzZ/Zj12OqEPEd6z+7zLjZQJcPO4qxC7VZhbXEMskuF2bNVPA7O1A9brhEPGdd3ldl3FD2BysIa5tvUlw99gGJ8LZessQbigXhrClpURcE5MR6gH/cfm0/AAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADv30TjZ/sg9j8pv5q6CSn8YGYBAw0HV9YZuIhOIXfhW03XlpmQwO63F0lXEJwHMduo57pLuBBH/M/uxy9cpSWD2y98Crio5ELYzUM1xA4QaXneI+I7V/10OvYOY09L7x2XzPohdqs0srhEWEDV+X81dL4qngNkXcvhd93dCxHfe5XVdyQ1hc7CGuMoXJMHdI5mfCGc/6Ee4IVgbwpaWEnE9moZQDwDUb/T2/AAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADv30TjZ/sg9j8uiNx0Flf4wMgDBG6UFjjd0E5lA7Msrlzqu3JQMZjtVMDuJ+CSA2QeU6xzTnSDi/y7aOH6dkgRm6yV6OarkQNg+ytaOxw0gavwqbR153SHi1bFBjofeQcxhSLF03LwPYtdZ+2DHCAuImitfXzleFE8Bs5tutzvu74SI7zmS7LiSG8IWWfvAUb4Awl7JmuYomQ8xZ84eHccH/RDxZH5Fx2BtCPvmgyzHo2kQ9oOFto4AgFA/5fwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADv30TjZ/sg9j67dmxwFlf4wMgBBREGp4w3dRCYQ+0J8g+PKTclgdn/sfUcRnwQwm8PJ3DHdCSKuY/De4euUJDBbRo/VUSUHwt7m98bhuAFEzaOKDw687hDxTTK8jofeQcy55fvSYfM+iF0xlnyOERYQNVe9jjpeFE8BsxfN8nDc3wnV2y3nuJIbwhZp2O0oXwBhu6yVd5TMh5jDJHbB4UE/RDylaKdDsDaEvddU1fFoGoSdNvmjAwAvGOhV/AAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADv30TjZ/sg9j905HHaCSn8YGYAgahK73Q3dRCYQe/cadruVm5LB7D/GHHYiPglg9s3Z7HbpThBxlxvsdl+nJIHZH06z26nkQNhqx9jtjhtA1Ox6zW7H6w4Rl3jIbnfoHcScrSfZ7Tbvg9i14RW7XYQFRE0UF4fdRfEUMPvYeXa7/Z0Q8UUXge7hhrBrfrHbyRdA2EZsHHaS+RBzJFey2z3oh4iLXWO3C9aGsLsusNsdTYO6cyO7HQDi+RKZ/AAAAA==" />
    <add key="/lpc/it8728f/voltage/0/values" value="H4sIAAAAAAAEAOPbEJNsf+Sex7z37fYNqklMDEDApN1uH7oSwr7zs85eZj2E/U2jx96IAcLWv9tiz/M4Aa4mVwoivqSg1n6FdTKY/eVvib3DQYQ5xq4Q9o/gZvu8mEQwe9XHJvuILoj6R1Ut9mHJEPHW1xPtew5D1PMwddtvykK4bVUqRL34zT77WnGI+v5DpfaNyyHsPSXF9tt/QNQrbiiyD90GUZ/7vNoeAM+RcSrwAAAA" />
    <add key="/lpc/it8728f/voltage/1/values" value="H4sIAAAAAAAEAOPbEJNsf+Seh3nnQfvaJZZSDEAAYoclJzKB2C/VDtr3HE4Cs18B2ZuyIGyQmi2X33DD2ABgJgJTSAAAAA==" />
    <add key="/lpc/it8728f/voltage/2/values" value="H4sIAAAAAAAEAOPbEJNsf+Sex8MqE4cG1SQmBiCQZDFzCF2JYMush7CXFJg6GDFA2LX2pg48jxPA7NMLTR1ypRDqV1gnw9kOByHi6WlmDsauELa9qZlDXkwinB3RBVHvAGSHJSfC9fYchqhPA+rdlIXQuyoVob5WHKJ+ywkzh8blEHbvdDOH7T+S4GpCtyXD3QAAAlTCvfAAAAA=" />
    <add key="/lpc/it8728f/voltage/3/values" value="H4sIAAAAAAAEAOPbEJNsf+Seh9hNO4cG1SQmBiDwS3JwCF0JYXfn2DvIrIewN821dzBigLDVDR0ceB4nwNXnSiH0rrBOBrPnHHFwcDgIES+d7OBg7AphMzA4OBx7doQFxg5LToSb33MYoWZTFsKuVanJcPNrxRHqG5cnws3f/gPJ/duS4XoBNSCo7uQAAAA=" />
    <add key="/lpc/it8728f/voltage/4/values" value="H4sIAAAAAAAEAOPbEJNsf+SeR9NUZYcG1SQmBiDQ3aTqELoSwg55rOogsx7CnvhWxcGIAcKWiVJx4HmcAGazNao65EpBxBe5qjmssE6Gsx0OQsTtuNQdjF0hbPGbag55MYlg9skyNYeIrmS4XWHJiXA39BxGuGdTFoT9Ybmaw6rUZLjeWvFEuN7G5Ylw87f/gKgXA7JDtyXD3QAA64mHK/AAAAA=" />
    <add key="/lpc/it8728f/voltage/5/values" value="H4sIAAAAAAAEAOPbEJNsf+SeB5N2u/1RTl9dBiAAsQHYkFeXGAAAAA==" />
    <add key="/lpc/it8728f/voltage/6/values" value="H4sIAAAAAAAEAOPbEJNsf+Sex4RDX+2OcvrqMgABiA0AaYMF3RgAAAA=" />
    <add key="/lpc/it8728f/voltage/7/values" value="H4sIAAAAAAAEAOPbEJNsf+Sehx1XuMNRTl9dBiAAsQE3rF8LGAAAAA==" />
    <add key="/lpc/it8728f/voltage/8/values" value="H4sIAAAAAAAEAOPbEJNsf+Seh1aMv8NRTl9dBiAAsQEnxpD1GAAAAA==" />
    <add key="/lpc/it8728f/temperature/0/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwNDi1ODahITAxi0OIWuhLGbnGTWw9jNTkYMCHGexwlQdqNTrhRUvKHBaYV1MlS81snhYBKcbewKY9c45cUkQtmVThFdMPXlTmHJMPFqp57DMPVVTpuyYOwKp1WpyXB2rXgiXE3jchi71Gn7D5j6YqfQbTD1JU4A1g/ESvAAAAA=" />
    <add key="/lpc/it8728f/temperature/1/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwNDuVODahITAxhkOoWuhLGznGTWw9jlTkYMMHaiE8/jBCg7yilXKgnOXmGdDGVHOjkchImHORm7Ith5MYlQdohTRFcyXG9YMkw836nnMMLMTVkwdrTTqlSY+lynWnGY+nCnxuUwdpDT9h8w9cFOoduS4WwAZhVTzfAAAAA=" />
    <add key="/lpc/it8728f/temperature/2/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwODi1ODahITAxg4OoWuRLBl1sPYLk5GDDC2kxPP4wS4+LQVSYowNgBtc1roVAAAAA==" />
    <add key="/lpc/it8728f/fan/0/values" value="H4sIAAAAAAAEAOPbEJNsf+SeR8y86S4NqklMDECQ8rPTJXQlhN2T2uQisx7C/uPW4mLEAGFrzGtx4XmcAGavfV3jkisFEe+UqndZYZ0MZrdMaXBxOAgRb1vR6GLsCmEHNTW65MUkgtn9pY0uEV0Q9Z+ONriEJUPEi2TrXXoOQ9SvBarZlAVhG+xscFmVClG/rbbepVYcot5za6NL43IIm+lQo8v2HxD1J4F2hW6DqL8+u9EFAO8JjvLwAAAA" />
    <add key="/lpc/it8728f/fan/1/values" value="H4sIAAAAAAAEAOPbEJNsf+Sex9fL21waVJOYGICg5Ngul9CVELa3wW4XmfUQNovmLhcjBgg7de0JF57HCWC2pv8Zl1wpqN6ecy4rrJPhbIeDEPFSINvYFcKWyDnnkheTCGbv8T7nEtEFUd+hfc4lLBki/p3rrEvP4SS4+KYsCDuE+5zLqlSI+v1eZ11qxSHqQ4HijcsT4Wq2/4CodwTaFboNYT4AFhwxqvAAAAA=" />
    <add key="/lpc/it8728f/fan/2/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwMQHOX01WWAAgDYEsTcGAAAAA==" />
    <add key="/lpc/it8728f/fan/3/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwMQHOX01WWAAgDYEsTcGAAAAA==" />
    <add key="/lpc/it8728f/fan/4/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwMQHOX01WWAAgDYEsTcGAAAAA==" />
    <add key="/lpc/it8728f/control/0/values" value="" />
    <add key="/lpc/it8728f/control/1/values" value="" />
    <add key="/lpc/it8728f/control/2/values" value="H4sIAAAAAAAEAOPbEJNsf+SeBwMQHOX01WWAAgDYEsTcGAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>